*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}
#l{
  position: fixed;
  width: 100%;
  height: 100vh;
  background:#eeeeee url('/static/images/three.webp') no-repeat center;
  z-index: 9999;

}
/* home.html css */
.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top:20% ; */
}

.home a{
text-decoration: none;
color: white;

}
.button{
  position: relative;
  top: 300px;
    margin-left: 20px;
        background-color: #1c87c9;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #bb2d2d;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;   
        animation: glowing 1300ms infinite;  
}

@keyframes glowing {
    0% {
      background-color: rgb(104, 94, 94);
      box-shadow: 0 0 3px rgb(235, 209, 209);
    }
    50% {
      background-color: rgb(245, 158, 158);
      box-shadow: 0 0 10px rgb(201, 134, 134);
    }
    100% {
      background-color: rgb(199, 97, 97);
      box-shadow: 0 0 3px rgb(228, 131, 131);
    }
  }
  
/* marks.html css*/
.name{
  display: inline;
  position: relative;
}
.form{
  position: relative;
  top:113px;
  padding-top: 20px;
  padding-left: 7px;
  margin-left: 24%;
  background: #1d1f59eb;
  width: auto;
  width: 947px;
  border-radius: 10px;
  color: #fff;
  left: 190px;
}
form{
  line-height: 90px;
}
#last_name{
  position: relative;
    left: 325px;
}
#first_name{
  position: relative;
    left: 119px;
}
.first_name{
  
  position: relative;
  top: 35px;
  right: 40px;

}
.last_name{
  position: relative;
  top: 35px;
  left: 70px;
}
#roll{
  left: 199px;
}
.two{
right: 262px;
}
#maths{
left: 244px;
}
.three{
right: 193px;
}
#physics{
  left: 199px;
}
.four{
  right: 262px;

}
#chemistry{
  left: 304px;

}
.five{
  right: 133px;

}
#total{
  left: 199px;
}
.six{
right: 263px;
}
#percentage{
  left: 342px;
}
.seven{
  right: 93px;
}

.form h1{
  text-align: center;
  color: #fff;
}
input{
  width: 260px;
  border-radius: 8px;
  line-height: 42px;
  position: relative;
  padding-left: 10px;
}
#b{
  width: 150px;
  margin-left: 409px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  color: black;
  background: #E7DED5;
  padding-right: 11px;
}


.c{
  position: relative;
  top: 60px;
  left: 300px;
  width: 950px;
  font-family: ui-monospace;
  color: rgb(51 51 88);
  font-family: 'Newsreader', serif;
  
}
hr:not([size]) {
  height: 4px;
}
 
table{
  border: 1px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* margin-top: 10px; */
  position: relative;
  top: 3px;
}
thead{
  background:#188038;
  color: #fff;
}
tbody tr{
  text-align: center;
}
.dataTables_length{
  margin-top: 14px;
}
.table_id_filter{
  margin-top: 15px;
}


/* media query */
