*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
#l{
  position: fixed;
  width: 100%;
  height: 100vh;
  background:#eeeeee url('/static/images/three.webp') no-repeat center;
  z-index: 9999;

}
/* home.html css */
.home{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.home a{
text-decoration: none;
color: #fff;
}
.a{
  text-align: center;
  background-color: #010223f0;
 
}
.marks{
  margin-right: 25px;
    border-radius: 6px;
    height: 44px;
    width: 151px;
  

}
.lead{
  /* margin-right: 25px; */
    border-radius: 6px;
    height: 44px;
    width: 190px;
}


.a:hover{
  background: rgb(39, 223, 146);
  color: red;
}

  
/* marks.html css*/
.form #heading{
  text-align: center;
}
.name{
  display: inline;
  position: relative;
}
.form{
  position: relative;
  top: 113px;
  padding-top: 20px;
  padding-left: 26px;
  margin-left: 22%;
  background: #010223f0;
  width: auto;
  width: 716px;
  border-radius: 10px;
  color: #fff;
  left: 368px;
  text-align: center;
}

form{
  line-height: 90px;
}
#last_name{
  position: relative;
  left: -12px;
  top: 50px;
}
.last{
  position: relative;
  bottom: 52px;
  left: 101px;
}
#first_name{
  position: relative;
  right: 142px;
  top: 50px;
}

#roll{
left: 12px;
top: 27px;
}

.one{
 
  left: -23px;
  bottom: -7px;

}
.x{
  bottom: 18px;
    right: 192px;
}
.two{
right: 224px;
bottom: 11px;
}
#maths{
left: 14px;
top: 27px;
}
.three{
right: 224px;
bottom: 11px;
}
#physics{
  left: 12px;
  top: 29px;
}
.four{
  right: 222px;
bottom: 7px;
}
#chemistry{
  left: 60px;
  top:29px ;

}
.five{
  right: 176px;
bottom: 7px;
}
#total{
  left: 21px;
  top: 31px;

}
.six{
  right: 220px;
bottom: 7px;
}
#percentage{
  left: 98px;
  top: 34px;
}

.seven{
  right: 142px;
  /* top: 29px; */
bottom: 7px;
}


input{
  width: 235px;
  border-radius: 8px;
  line-height: 35px;
  position: relative;
  padding-left: 10px;
}
#b{
  width: 180px;
  margin-left: -13px;
  margin-top: 38px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  color: black;
  background: #E7DED5;
  padding-right: 11px;
  border-radius: 5px;
}
#b:hover{
  background:#fff;
  color: blue;
}


.c{
  position: relative;
  top: 60px;
  left: 300px;
  width: 950px;
  font-family: ui-monospace;
  color: rgb(51 51 88);
  font-family: 'Newsreader', serif;
  
}
hr:not([size]) {
  height: 4px;
}
 
table{
  border: 1px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* margin-top: 10px; */
  position: relative;
  top: 3px;
}
thead{
  background:#188038;
  color: #fff;
}
tbody tr{
  text-align: center;
}
.dataTables_length{
  margin-top: 14px;
}
.table_id_filter{
  margin-top: 15px;
}


/* media query */
